html,
body {
    height: 100%;
	margin: 0px;
	font-family: 'Noto Sans TC', sans-serif;
}

/* SCROLL BAR BEGIN */
/* https://codepen.io/devstreak/pen/dMYgeO */

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* SCROLL BAR END */

/* LINK RAINBOW EFFECT */
/* https://codepen.io/cssparadise/pen/ExxayxM */
a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 1;
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: .07em;
	height: .1em;
	width: 100%;
	background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
	z-index: -1;
	transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover::after {
	height: .2em;
}

/* LINK RAINBOW EFFECT END */

.mainContainer {
	display: flex;
	height: 100%;
	width: 100%;
}

.left {
	display: flex;
	width: 30%;
	background-color: white;
	justify-content: center;
	align-items: center;
}

.shadow {
	position: relative;
	z-index: 10;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#title {
	text-align: center;
	font-size: xx-large;
}

#memeFormDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#memeForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 80%;
}

#memeForm > input {
	margin: 10px;
	width: 100%;
}

.formField {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	padding: 2px;
}

.button {
	background-color: #616161;
	border: none;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 60% !important;
	/* margin-left: 23%; */
}

.button:hover {
	background-color: #757575;
}

.right {
	display: flex;
	width: 70%;
	background-color: #fafafa;
	overflow: auto;
	justify-content: center;
    align-items: center;
    background: url('img/img.png');
}

#memeStream {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: auto;
	flex-direction: column;
	align-items: center;
}

.memeContainer {
	width: 60%;
	padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    background-color: white;
	border-radius: 2px;
}

#memeCaption {
	font-size: xx-large;
	font-weight: bold;
	width: 100%;
	padding-left: 5px;
}

#memeUser {
	font-size: medium;
	font-style: italic;
	font-weight: lighter;
	width: 100%;
	padding-left: 5px;
	color: #9e9e9e;
}

#memeImg {
	width: 100%;
	margin: 5px 0 5px 0;
	object-fit: contain;
}

hr {
	border: 1px solid #e0e0e0;
}

#detaTag{
	font-size: small;
	color: #000;	
	margin-bottom: 10px;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	/* For mobile phones in potrait: */
	.mainContainer {
		flex-direction: column;
	}
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
	}
	#memeStream {
		width: 100%;
		overflow-x: hidden;
	}
	.memeContainer {
		width: 100%;
		margin: 5px 0 5px 0;
		padding: 5px 5px 5px 5px;
	}
	#memeCaption {
		font-size: x-large;
	}
	#memeImg {
		width: 100%;
		object-fit: contain;
	}
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
	/* For mobile phones in landscape: */
	.mainContainer {
		flex-direction: row;
	}
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
	}
	#memeStream {
		width: 100%;
		overflow-x: hidden;
	}
	.memeContainer{
		width: 80%;
		margin: 5px 0 5px 0;
		padding: 5px 5px 5px 5px;
	}
	#memeCaption {
		font-size: x-large;
	}
	#memeImg {
		width: 100%;
		object-fit: contain;
	}
}
